extends baseEmail

block content
  p Pozdrav, #{firstName}
  p Detektovana je prijava s novog uređaja na vaš korisnički profil.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p Podaci o uređaju: #{url}